# Perform an ANOVA test on the HRdataset_3 (given at the end) to find out if the average salary of Production technician I, production technician II and Area Sales Manager is the same. 

- Identify the hypothesis statements
- Perform the test and find the pvalue
- Whats the conclusion?

In [1]:
# importing library

import pandas as pd
import numpy as np
from scipy import stats as st

In [3]:
# read data 

hr = pd.read_csv("F:\Skillenable\Data frames\HRDataset-3.csv")
hr.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Age
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,38
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,46
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,33
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,33
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,32


 taking cofidence level = 0.95, therefore significance level = 1- 0.95 = 0.05
 
### Null hypothesis: the average salary of Production technician I, production technician II and Area Sales Manager is the same. 
### Alternate hypothesis: the average salary of Production technician I, production technician II and Area Sales Manager is not same.

In [6]:
## creating data set for technician 1

technician_1 = hr['Salary'][hr['Position'] == 'Production Technician I']
technician_1.head()
technician_1.shape

(137,)

In [7]:
# creating sample data of 20 units

technician_1_sample = technician_1.sample(20)
technician_1_sample.head()

14     52505
44     60380
283    63025
89     57748
0      62506
Name: Salary, dtype: int64

In [10]:
## creating required data set for technician 2


technician_2 = hr['Salary'][hr['Position'] == 'Production Technician II']
technician_2.head()
technician_2.shape

(57,)

In [13]:
# creating sample data of 10 sample units

technician_2_sample = technician_2.sample(10)
technician_2_sample

24     57815
305    60446
295    66541
189    58207
257    60656
158    66074
215    60270
88     65902
306    65893
169    63450
Name: Salary, dtype: int64

In [14]:
## creating required data set for sales manager


sales_manager = hr['Salary'][hr['Position'] == 'Area Sales Manager']
sales_manager.head()
sales_manager.shape

(27,)

In [15]:
# creating sample data of 5 sample units

sales_manager_sample = sales_manager.sample(5)
sales_manager_sample

270    60120
128    70545
98     67251
155    71339
223    61844
Name: Salary, dtype: int64

In [16]:
# perform ANOVA test

st.f_oneway(technician_1_sample,technician_2_sample,sales_manager_sample)

F_onewayResult(statistic=10.334180512353452, pvalue=0.0003448282129747614)

In [17]:
# from test result: pvalue=1.9444413059559925e-06 < 0.05
# Accept the alternate hypothesis, there is no sufficient evidence to support null hypothesis