### Perform a hypothesis test on the HRdataset_3 (given in the end) to find out if the department of IT/IS has an average salary of 80000 and for the Production department the average salary is 60000, Assume the confidence level is 95%.

Identify the hypothesis statements Perform the test and find the pvalue Whats the conclusion?

1. State your assumptions, if any
2. Use proper comments in your code 
3. Download the files in html format and upload in the below space

In [7]:
# importing libraries

import pandas as pd
import numpy as np
from scipy import stats as st

In [8]:
# impoting data 

hr = pd.read_csv("F:\Skillenable\Data frames\HRDataset-3.csv")
hr.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Age
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1,38
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17,46
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3,33
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15,33
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2,32

## For IT/IS department
As per given data:
 cofidence level = 0.95, therefore significance level = 1- 0.95 = 0.05
 
### Null hypothesis: the department of IT/IS has an average salary of 80000
### Alternate hypothesis: the department of IT/IS has not an average salary of 80000

In [11]:
#required data

IT_IS = hr['Salary'][hr['Department'] == 'IT/IS']
IT_IS.head()

1     104437
9      50178
12     92328
18    110000
25    103613
Name: Salary, dtype: int64

In [12]:
#creating sample data of 10 samples

IT_IS_sample = IT_IS.sample(10)
IT_IS_sample

238     89883
48      68678
239    120000
113     61242
162     81584
99      65707
261     66593
287     76029
262     87565
309     89292
Name: Salary, dtype: int64

In [15]:
# perform test (1 sample t test)
st.ttest_1samp(IT_IS_sample, 80000)

Ttest_1sampResult(statistic=0.11957962112223075, pvalue=0.90744290582777)

In [16]:
# Accept the null hypothesis , cause the  pvalue=0.07715085890026001 > 0.05

## For IT/IS department

 cofidence level = 0.95, therefore significance level = 1- 0.95 = 0.05
 
### NULL Hypothesis : the Production department the average salary is 60000
### Alternate Hypothesis: the Production department the average salary is not 60000

In [17]:
Production = hr['Salary'][hr['Department'] == 'Production       ']
Production.shape

(209,)

In [20]:
# creating sample data of 50 samples
Production_sample = Production.sample(50)
Production_sample.head()

122    54828
263    64021
173    52057
246    47750
38     52846
Name: Salary, dtype: int64

In [24]:
# perform test (1 sample t test)
st.ttest_1samp(Production_sample, 60000)

Ttest_1sampResult(statistic=-0.5544877400941673, pvalue=0.5817672501601003)

In [25]:

# Accept the null hypothesis, Since the  pvalue=0.8897267625216853 > 0.05